[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli-local = "*"
ddt = "*"
localstack = "*"
localstack-client = "*"
pylint = "*"
python-lambda-local = "*"

[packages]
agate = "*"
agate-excel = "*"
boto3 = "*"
colored = "*"
csvkit = "*"
dictdiffer = "*"
pyactionnetwork = "*"

[requires]
python_version = "3.7"
