[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ddt = "*"
pylint = "*"

[packages]
agate = "*"
csvkit = "*"
agate-excel = "*"
pyactionnetwork = "*"
dictdiffer = "*"
colored = "*"
boto3 = "*"

[requires]
python_version = "3.7"
