[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"
awscli-local = "*"
ddt = "*"
localstack = "*"
localstack-client = "*"
pylint = "*"
python-lambda-local = "*"
moto = {extras = ["dynamodb2", "s3", "secretsmanager"], version = "*"}

[packages]
agate = "*"
agate-excel = "*"
boto3 = "*"
colored = "*"
csvkit = "*"
dictdiffer = "*"
pyactionnetwork = "*"
pynamodb = "*"
python-json-logger = "*"

[requires]
python_version = "3.7"
